<!-- pour déclarer une variable : #input -->
<!-- (keyup) : a chaque fois que des elements sans saisie je récupère l'info -->
<!-- input.value est de type string ! -->

<div class="container">
    <div class="row">
        <!-- let pokemon : je déclare une vatiable pokémon -->
        <!-- of pokemonList : je parcours le tableau pokemonList -->
        <div *ngFor='let pokemon of pokemonList' class="col s6 m4">
            <div (click)="goToPokemon(pokemon.id)" class="card horizontal" pkmnBorderCard>
            <div class="card-image">
                <img [src]="pokemon.picture">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                <p>{{ pokemon.name }}</p>
                <p><small>{{ pokemon.created | date:'dd MMMM yy' }}</small></p>
                <span *ngFor='let type of pokemon.types' class="{{type | pokemonTypeColor }}">
                    {{ type }}
                </span>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>