/* You can add global styles to this file, and also import other style files */
.logo {
    display: flex;
    height: 100px;
    width: auto;
}
.logo-border {
    align-items: center;
}
.text-black-color {
    color: #202327 !important;    
}
body{
    background-color: #D2B48C;
}
.color-beige2-1 {
    background: linear-gradient(to left bottom, #D2B48C,  #DDD1BC)!important;
    background: -webkit-linear-gradient(to left bottom, #D2B48C,  #DDD1BC)!important;

}
.background-color-beige1 {
    background-color: #DDD1BC;    
}

.image-size{
    object-fit: contain;
    width: 300px;
    height: 200px;
}